     body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: gray;
            color: white;
            display:flex;
            
            flex-direction: column;
            align-items: center;
           
        }
         div{
            display:flex;
            align-content: center;
        }
        label{
            font-size: 24px;
        }
         input{
            height:24px;
            width: 150px;
            padding:5px 20px;
            font-size:16px;
            border: none;
            outline:none;
        }
         button{
            background-color: green;
            font-size:16px;
            padding:5px 10px;
            color:white;
            border-radius: 5px;
            border: none;
            outline:none;
        }
        p{
            font-size:18px;
            color:midnightblue;
        }
         .fade-message {
           opacity: 1;
           transition: opacity 1s ease;
        }
        .fade-message.fade-out {
          opacity: 0;
        }